{% extends 'layout.html.twig' %}

{% block title %}UsersGroup{% endblock %}

{% block body %}
    <h1>UsersGroup</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ users_group.id }}</td>
            </tr>
            <tr>
                <th>GroupName</th>
                <td>{{ users_group.GroupName }}</td>
            </tr>
            <tr>
                <th>AvaibleUsers</th>
                <td>{{ users_group.AvaibleUsers ? users_group.AvaibleUsers|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ users_group.role ? users_group.role|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('users_group_index') }}">back to list</a>

    <a href="{{ path('users_group_edit', {'id': users_group.id}) }}">edit</a>

    {{ include('users_group/_delete_form.html.twig') }}
{% endblock %}
